# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env*.local
.env

# Typescript
*.tsbuildinfo

# Android
android/.gradle/
android/build/
android/app/build/
android/.cxx/
android/app/.cxx/
android/local.properties
*.apk
*.aab

# iOS
ios/Pods/
ios/build/
ios/.xcode.env.local
*.xcworkspace
!default.xcworkspace
*.xcuserdata
*.xcuserdatad
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Testing
coverage/
.nyc_output/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.project
.classpath
.settings/
